body {
    background: #E5E5E5;
}

header {
    background-color: #0083C3;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    padding-block-end: 20px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding-block-end: 10px;
}

form div {
    background-color: #ffffff;
    border-radius: 5px;
    padding-block-end: 20px;
}

.form {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    border-radius: 7px;
}

.book-library {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
    padding: 40px;
}

label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

div input {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #F3F3F3;
}

.add-button {
    background-color: #0083C3;
    width: 100px;
    border-radius: 6px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 1.5rem;
}

.list-form {
    margin: 50px;
    background-color: #F3F3F3;
    padding-block-end: 100px;
    border-radius: 7px;
}

.heading {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(0, 127, 189, 0.03);
    text-transform: uppercase;
}

.book-list {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 2px solid grey;
}

.book-list input[type='checkbox']:checked+#bookTitle {
    opacity: 0.5;
}

.remove::after {
    content: " ";
    background-image: url(./delete-24px.png);
    background-repeat: no-repeat;
}

input[type=checkbox]:checked {
    color: greenyellow;
}

;